<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Home</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
    <link
      th:href="@{'/css/output.css'}"
      href="../static/css/output.css"
      rel="stylesheet"
    />
  </head>
  <body class="overflow-x-hidden scroll-smooth font-serif">
    <div class="flex flex-col">
      <!-- HEADER DYNAMIC -->
      <!--    <%@ include file="./include/header-dynamic.jsp" %>-->
      <!--    <%@ include file="./chatbot.jsp" %>-->

      <div th:insert="common/header-dynamic :: header"></div>
      <section class="h-screen">
        <div
          class="absolute bottom-0 left-0 right-0 top-0 bg-gradient-to-r from-black to-[#331c0e] text-white"
        >
          <div class="container m-auto">
            <!-- HEADER STATIC -->
            <!--                <%@ include file="./include/header-static.jsp" %>-->
            <div th:insert="common/header-static :: header"></div>

            <!-- CONTENT -->
            <div class="mt-7 grid grid-cols-12 gap-2">
              <!-- CONTENT LEFT -->
              <div class="col-span-5">
                <div class="mt-5">
                  <h1
                    class="animate-[fadeIn_.25s_ease-out_,_moveInRightFull_.5s_ease-out] text-6xl font-bold leading-relaxed"
                  >
                    Discover The Art Of Perfect Coffee
                  </h1>
                </div>
                <div
                  class="my-8 animate-[fadeIn_.25s_ease-out_,_moveInUpFull_.5s_ease-out]"
                >
                  <p>
                    Experience The Rich And Bold Flavors Of Our Exquisite
                    Coffees Blends, Crafted To Awaken Your Senses And Start Your
                    Day Right
                  </p>
                </div>
                <div class="my-8">
                  <a
                    href="./menu"
                    class="mr-5 animate-[fadeIn_1s_ease-out] border-2 border-white bg-white px-3 py-3 text-black transition duration-200 ease-in-out hover:border-white hover:bg-black hover:text-white"
                  >
                    Order Now <i class="fa-solid fa-arrow-right ml-2"></i
                  ></a>
                  <a
                    href="./about-us"
                    class="animate-[fadeIn_1s_ease-out] border-2 border-white px-3 py-3 transition duration-200 ease-in-out hover:bg-white hover:text-black"
                  >
                    Explore More
                  </a>
                </div>
                <div class="my-16 flex justify-between">
                  <div
                    class="flex animate-[fadeIn_.25s_ease-out_,_moveInUpFull_.5s_ease-out_.1s] flex-col items-center justify-center gap-2"
                  >
                    <h3 class="text-3xl font-bold">50+</h3>
                    <p class="text-sm uppercase">Item of coffee</p>
                  </div>
                  <div
                    class="flex animate-[fadeIn_.25s_ease-out_,_moveInUpFull_.5s_ease-out_.2s] flex-col items-center justify-center gap-2"
                  >
                    <h3 class="text-3xl font-bold">20+</h3>
                    <p class="text-sm uppercase">Order Running</p>
                  </div>
                  <div
                    class="flex animate-[fadeIn_.25s_ease-out_,_moveInUpFull_.5s_ease-out_.3s] flex-col items-center justify-center gap-2"
                  >
                    <h3 class="text-3xl font-bold">2k+</h3>
                    <p class="text-sm uppercase">Happy Customer</p>
                  </div>
                </div>
              </div>

              <!-- CONTENT RIGHT -->
              <div class="top-30 absolute right-0 z-0">
                <h1
                  class="animate-[moveInLeftFull_.75s_ease-out_.1s] py-5 text-[180px] font-bold leading-none tracking-tighter text-[#271d14]"
                >
                  Caffeine
                </h1>
                <h1
                  class="animate-[moveInLeftFull_.75s_ease-out_.2s] py-5 text-[180px] font-bold leading-none tracking-tighter text-[#271d14]"
                >
                  Caffeine
                </h1>
              </div>
              <div class="z-10 col-span-7 ml-7 animate-moveInLeftFull">
                <img
                  class=""
                  src="../img/page/—Pngtree—flying%20cup%20of%20coffee%20with_5057949.png"
                  alt="Coffee Cup"
                />
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="">
        <div class="bg-coffee-200 text-black">
          <div class="container mx-auto pb-20 pt-10">
            <div class="h-20 w-full"></div>
            <!-- CONTENT -->
            <div class="text-center">
              <h1 class="text-8xl font-bold" th:text="${trend.getTitle()}"></h1>
              <h2
                class="text-4xl text-coffee-500"
                th:text="${trend.getSubTitle()}"
              ></h2>
            </div>
            <!-- CONTENT-TOP -->
            <div class="mt-16 grid grid-cols-2 gap-3">
              <div class="col-span-1 ml-10">
                <div
                  class="absolute h-[400px] w-[400px] skew-x-[20deg] transform border-2 border-black"
                ></div>
                <div
                  class="absolute h-[300px] w-[300px] rotate-45 skew-x-[20deg] transform border-2 border-black"
                ></div>
                <div class="h-[400px] w-[400px] rotate-[-6deg] overflow-hidden">
                  <img
                    class="h-full w-full border-2 border-black object-cover object-left-top"
                    th:src="@{'../img/thumbnail/' + ${trend.getTrendProducts().get(0).getProduct().getThumbnailUrl()}}"
                    alt=""
                  />
                </div>
              </div>
              <div class="col-span-1 mt-10">
                <h1
                  class="text-7xl font-bold"
                  th:text="${trend.getTrendProducts().get(0).getProduct().getProductName()}"
                ></h1>
                <p
                  class="my-10 text-coffee-700"
                  th:text="${trend.getTrendProducts().get(0).getBriefInformation()}"
                ></p>
                <a
                  th:href="@{'./product-detail?productId=' + ${trend.getTrendProducts().get(0).getProduct().getId()}}"
                  class="mt-5 bg-black px-3 py-3 text-white transition duration-200 ease-in-out hover:border-white hover:bg-white hover:text-black"
                >
                  View All
                  <i class="fa-solid fa-arrow-right ml-2"></i>
                </a>
              </div>
            </div>

            <!-- CONTENT-BOTTOM -->
            <div class="mt-44 grid grid-cols-2 gap-3">
              <div class="col-span-1 mr-20 mt-10 text-right">
                <h1
                  class="text-7xl font-bold"
                  th:text="${trend.getTrendProducts().get(1).getProduct().getProductName()}"
                ></h1>
                <p
                  class="my-10 text-coffee-700"
                  th:text="${trend.getTrendProducts().get(1).getBriefInformation()}"
                ></p>
                <a
                  th:href="@{'./product-detail?productId=' + ${trend.getTrendProducts().get(1).getProduct().getId()}}"
                  class="mt-5 bg-black px-3 py-3 text-white transition duration-200 ease-in-out hover:border-white hover:bg-white hover:text-black"
                >
                  View All
                  <i class="fa-solid fa-arrow-right ml-2"></i>
                </a>
              </div>
              <div class="col-span-1 flex justify-center">
                <div
                  class="absolute h-[400px] w-[400px] rotate-[-12deg] skew-x-[10deg] transform border-2 border-black"
                ></div>
                <div
                  class="absolute h-[300px] w-[300px] rotate-45 skew-y-[10deg] transform border-2 border-black"
                ></div>
                <div class="h-[400px] w-[400px] rotate-[3deg] overflow-hidden">
                  <img
                    class="h-full w-full border-2 border-black object-cover object-left-top"
                    th:src="@{'../img/thumbnail/' + ${trend.getTrendProducts().get(1).getProduct().getThumbnailUrl()}}"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="h-screen">
        <div class="h-full bg-coffee-500 text-black">
          <div class="container mx-auto pb-20 pt-10 text-center">
            <div class="mx-auto mt-10 w-2/3 text-center">
              <h1 class="text-6xl font-bold">Best Selling Item</h1>
              <p class="my-10 text-[#675547]">
                Lorem Ipsim Is Simply Dummy Text Of The Printing And Typesetting
                Industry. Lorem Ipsum Has Been The Industrys Standard Dummy Text
                Ever Since The 1500s.
              </p>
            </div>
            <div class="grid grid-cols-4 gap-5">
              <a
                th:each="p : ${bestSellingProducts}"
                th:href="@{'./product-detail?productId=' + ${p.getId()}}"
                class="col-span-1 cursor-pointer items-center border-2 border-black transition duration-200 ease-in-out hover:-translate-y-2"
              >
                <div class="relative flex flex-col items-center">
                  <div
                    class="absolute bottom-1/2 left-0 right-0 top-0 bg-black"
                  ></div>
                  <div class="z-10 h-[250px] w-[250px] p-5">
                    <img
                      class="h-full w-full border-8 border-coffee-500 object-cover"
                      th:src="@{'../img/thumbnail/' + ${p.getThumbnailUrl()}}"
                      alt=""
                    />
                  </div>
                  <div
                    class="pb-3 text-3xl font-bold"
                    th:text="${p.getProductName()}"
                  ></div>
                </div>
                <div class="border-t-2 border-t-black bg-[#c7ad8e]">
                  <div class="py-3 text-3xl">Order Now</div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </section>

      <section class="h-screen">
        <div class="h-full bg-coffee-200 py-20 text-black">
          <div class="container mx-auto">
            <div class="mb-10 text-center">
              <h1 class="text-6xl font-bold leading-relaxed">Our Moments</h1>
            </div>

            <!-- SLIDER -->
            <div class="container mx-auto mt-10">
              <!-- Slider Container -->
              <div
                class="relative flex h-[26rem] w-full overflow-hidden rounded transition"
              >
                <!-- Slide Images -->
                <div id="slider" class="flex duration-500 ease-in-out">
                  <div th:each="galery : ${galeries}" class="slide min-w-full">
                    <img
                      th:src="@{'../img/page/' + ${galery.getUrl()}}"
                      alt="Image 1"
                      class="h-full w-full object-cover"
                    />
                  </div>
                </div>

                <button
                  id="prev"
                  class="absolute left-0 top-1/2 h-full -translate-y-1/2 transform bg-gray-800/[0.1] px-6 text-white"
                >
                  &#10094;
                </button>
                <button
                  id="next"
                  class="absolute right-0 top-1/2 h-full -translate-y-1/2 transform bg-gray-800/[0.1] px-6 text-white"
                >
                  &#10095;
                </button>
              </div>
            </div>

            <script>
              const slider = document.getElementById("slider");
              const slides = document.querySelectorAll(".slide");
              const prevButton = document.getElementById("prev");
              const nextButton = document.getElementById("next");

              let currentIndex = 0;

              function showSlide(index) {
                var transform = "translateX(-" + index * 100 + "%)";
                slider.style.transform = transform;
              }

              prevButton.addEventListener("click", () => {
                currentIndex =
                  currentIndex === 0 ? slides.length - 1 : currentIndex - 1;
                showSlide(currentIndex);
              });

              nextButton.addEventListener("click", () => {
                currentIndex =
                  currentIndex === slides.length - 1 ? 0 : currentIndex + 1;
                showSlide(currentIndex);
              });

              setInterval(() => {
                currentIndex =
                  currentIndex === slides.length - 1 ? 0 : currentIndex + 1;
                showSlide(currentIndex);
              }, 5000);
            </script>

            <div class="mt-10 text-center text-xl">
              <a
                class="group inline-block font-bold"
                href="https://www.instagram.com/3croastery.vn"
              >
                <i class="fa-brands fa-instagram"></i>
                https://www.instagram.com/3croastery.vn
                <span
                  class="block h-0.5 max-w-0 bg-black transition-all duration-500 group-hover:max-w-full"
                ></span>
              </a>
            </div>
          </div>
        </div>
      </section>

      <!-- FOOTER -->
      <section th:insert="common/footer :: footer"></section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
  </body>
</html>
