<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>Menu</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
    <link
      th:href="@{'/css/output.css'}"
      href="../static/css/output.css"
      rel="stylesheet"
    />
  </head>
  <body class="scroll-smooth font-serif">
    <div class="flex flex-col bg-coffee-200">
      <!-- NAVBAR SCROLL-->
      <div th:insert="~{common/header-dynamic :: header}"></div>

      <div class="container mx-auto">
        <!-- NAVBAR STATIC-->
        <div th:insert="~{common/header-static :: header}"></div>

        <div id="content" class="text-black">
          <div class="py-10 text-center">
            <h1 class="text-8xl font-bold">Cửa hàng</h1>
          </div>
          <div class="grid grid-cols-12 gap-6">
            <!-- LEFT -->
            <div class="col-span-3 lg:block">
              <div class="mb-7">
                <div class="flex items-center gap-4">
                  <i class="fa-solid fa-bars"></i>
                  <h2 class="text-2xl font-bold">Tất cả danh mục</h2>
                </div>
                <hr class="mx-2 my-3 border-t-[1px] border-t-black" />
                <div class="">
                  <div class="flex flex-col gap-2">
                    <div th:each="category : ${categories}" class="ml-4">
                      <input
                        class="cursor-pointer"
                        th:id="'category' + ${category.getId()}"
                        type="checkbox"
                        th:value="${category.getId()}"
                        name="category"
                      />
                      <label
                        class="cursor-pointer hover:text-coffee-500"
                        th:for="'category' + ${category.getId()}"
                        th:text="${category.getCategoryName()}"
                      ></label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- RIGHT -->
            <div class="col-span-12 lg:col-span-9">
              <!-- ORDER LIST -->
              <div class="rounded bg-coffee-300">
                <div class="flex items-center justify-between px-7 py-4">
                  <div class="flex flex-wrap items-center gap-3">
                    <h3 class="">Sắp xếp theo</h3>
                    <div class="">
                      <label
                        for="oderType_relative"
                        class="w-30 active--order h-8 cursor-pointer rounded bg-white px-3 py-2 hover:bg-coffee-200"
                        >Liên quan</label
                      >
                      <input
                        id="oderType_relative"
                        type="radio"
                        name="orderType"
                        value=""
                        class="hidden"
                      />
                    </div>
                    <div class="">
                      <label
                        for="oderType_new"
                        class="w-30 h-8 cursor-pointer rounded bg-white px-3 py-2 hover:bg-coffee-200"
                        >Mới nhất</label
                      >
                      <input
                        id="oderType_new"
                        type="radio"
                        name="orderType"
                        value="new"
                        class="hidden"
                      />
                    </div>
                    <div class="">
                      <label
                        for="oderType_bestSell"
                        class="w-30 h-8 cursor-pointer rounded bg-white px-3 py-2 hover:bg-coffee-200"
                        >Bán chạy</label
                      >
                      <input
                        id="oderType_bestSell"
                        type="radio"
                        name="orderType"
                        value="sold"
                        class="hidden"
                      />
                    </div>
                    <select class="h-8 rounded px-3 py-1" name="orderType">
                      <option value="" disabled selected hidden>Giá</option>
                      <option value="ASC" class="bg-white">
                        Giá: Thấp đến cao
                      </option>
                      <option value="DESC" class="bg-white">
                        Giá: Cao đến thấp
                      </option>
                    </select>
                    <div>
                      <input
                        name="searchProduct"
                        type="text"
                        placeholder="Tìm kiếm"
                        class="rounded px-3 py-1"
                        oninput="SearchEvent()"
                      />
                    </div>
                  </div>
                  <div>
                    <div>
                      <input
                        type="number"
                        name="pageNum"
                        class="w-12 text-right"
                        value="1"
                        min="1"
                      />
                      /
                      <span id="totalPage" th:text="${totalPage}"></span>
                    </div>
                  </div>
                </div>
              </div>

              <!-- PRODUCT LIST -->
              <div class="my-5 font-sans font-medium">
                <div
                  id="product-list"
                  class="grid grid-cols-2 gap-3 md:grid-cols-3 lg:grid-cols-4"
                >
                  <a
                    th:each="product : ${products}"
                    th:href="@{'./product/' + ${product.getId()}}"
                    class="col-span-1 cursor-pointer rounded bg-white transition duration-200 ease-in-out hover:-translate-y-1"
                  >
                    <div id="product-Image">
                      <img
                        th:if="${product.getThumbnailUrl() == null}"
                        class="rounded-t"
                        src="../img/thumbnail/invalid-image.png"
                        alt=""
                      />
                      <img
                        th:if="${product.getThumbnailUrl() != null}"
                        class="rounded-t"
                        th:src="@{'../img/thumbnail/' + ${product.getThumbnailUrl()}}"
                        alt=""
                      />
                    </div>
                    <div class="p-2">
                      <div id="product-Name" class="text-xl">
                        <p
                          class="line-clamp-2"
                          th:text="${product.getProductName()}"
                        ></p>
                      </div>
                      <div id="product-Price" class="text-lg text-coffee-700">
                        <p th:text="${product.getPrice()}"></p>
                      </div>
                      <div id="product-Description" class="mb-2">
                        <p
                          class="line-clamp-2"
                          th:text="${product.getDescription()}"
                        ></p>
                      </div>
                      <div class="flex justify-between text-sm text-slate-400">
                        <p id="product-Sold">
                          Đã bán:
                          <span th:text="${product.getTotalSold()}"></span>
                        </p>
                        <p
                          id="product-Date"
                          th:text="${product.getTotalSold()}"
                        ></p>
                      </div>
                    </div>
                  </a>
                </div>
                <div
                  id="page-button"
                  class="my-3 flex items-center justify-center"
                >
                  <div th:each="i : ${#numbers.sequence(1, totalPage)}">
                    <div th:if="${i <= 3}">
                      <label
                        th:if="${i == 1}"
                        class="mx-3 flex h-9 w-9 cursor-pointer items-center justify-center rounded bg-white hover:bg-slate-100"
                        th:for="'page-button-' + ${i}"
                        th:text="${i}"
                      ></label>
                      <label
                        th:if="${i != 1}"
                        class="mx-3 flex h-9 w-9 cursor-pointer items-center justify-center rounded hover:bg-slate-100"
                        th:for="'page-button-' + ${i}"
                        th:text="${i}"
                      ></label>
                      <input
                        type="radio"
                        th:id="'page-button-' + ${i}"
                        name="page"
                        th:value="${i}"
                        onchange="pageButtonClick()"
                        class="hidden"
                      />
                    </div>

                    <div th:unless="${i <= 3}">
                      <!-- Hiển thị dấu "..." nếu i == 4 và tổng số trang lớn hơn 5 -->
                      <div th:if="${i == 4 and totalPage > 5}">
                        <div
                          class="mx-3 flex h-9 w-9 items-center justify-center"
                        >
                          ...
                        </div>
                      </div>

                      <!-- Hiển thị hai trang cuối -->
                      <div th:if="${i > totalPage - 2}">
                        <label
                          class="mx-3 flex h-9 w-9 cursor-pointer items-center justify-center rounded hover:bg-slate-100"
                          th:for="'page-button-' + ${i}"
                          th:text="${i}"
                        ></label>
                        <input
                          type="radio"
                          th:id="'page-button-' + ${i}"
                          name="page"
                          th:value="${i}"
                          onchange="pageButtonClick()"
                          class="hidden"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- FOOTER -->
      <div th:insert="~{common/footer :: footer}"></div>
    </div>
    <script></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>

    <!--AJAX-->
    <script>
      const categories = document.querySelectorAll('input[name="category"]');
      const orderType = document.querySelectorAll('input[name="orderType"]');
      const orderByPrice = document.querySelector('select[name="orderType"]');
      const pageNumber = document.querySelector('input[name="pageNum"]');
      let pages = document.querySelectorAll('input[name="page"]');
      const totalPageElement = document.getElementById("totalPage");

      let selectedCategories = [];
      let orderValue = "";
      let pageNum = 1;
      let searchValue = document.querySelector(
        'input[name="searchProduct"]',
      ).value;

      categories.forEach(function (category) {
        category.addEventListener("change", function () {
          selectedCategories = [];
          categories.forEach(function (radio) {
            if (radio.checked === true) selectedCategories.push(radio.value);
          });
          pageNum = 1;
          callMenu(selectedCategories, orderValue, pageNum, searchValue);
        });
      });

      orderType.forEach(function (ot) {
        ot.addEventListener("change", function () {
          orderType.forEach(function (ot) {
            if (ot.checked === true) {
              orderValue = ot.value;
              ot.previousElementSibling.classList.add("active--order");
            } else {
              ot.previousElementSibling.classList.remove("active--order");
            }
          });
          orderByPrice.selectedIndex = 0;
          orderByPrice.classList.remove("bg-coffee-500");
          pageNum = 1;
          callMenu(selectedCategories, orderValue, pageNum, searchValue);
        });
      });

      orderByPrice.addEventListener("change", function () {
        orderValue = orderByPrice.value;
        orderByPrice.classList.add("bg-coffee-500");
        for (let i = 0; i < orderType.length; i++) {
          let ot = orderType[i];
          if (i === 0) {
            ot.previousElementSibling.classList.add("active--order");
          } else {
            ot.previousElementSibling.classList.remove("active--order");
          }
        }
        pageNum = 1;
        callMenu(selectedCategories, orderValue, pageNum, searchValue);
      });

      pageNumber.addEventListener("change", function () {
        pageNum = pageNumber.value;
        callMenu(selectedCategories, orderValue, pageNum, searchValue);
      });

      function pageButtonClick() {
        pages = document.querySelectorAll('input[name="page"]');
        pages.forEach(function (page) {
          if (page.checked === true) {
            pageNum = page.value;
            page.previousElementSibling.classList.add("bg-white");
          } else {
            page.previousElementSibling.classList.remove("bg-white");
          }
        });

        callMenu(selectedCategories, orderValue, pageNum, searchValue);
      }

      let debounceTimeout;

      function SearchEvent() {
        clearTimeout(debounceTimeout);
        debounceTimeout = setTimeout(function () {
          searchValue = document.querySelector(
            'input[name="searchProduct"]',
          ).value;
          pageNum = 1;
          callMenu(selectedCategories, orderValue, pageNum, searchValue);
        }, 300);
      }

      function callMenu(selectedCategories, orderValue, pageNum, searchValue) {
        // Create a new XMLHttpRequest object
        const xhr = new XMLHttpRequest();

        // Configure it: GET-request to your Spring Boot endpoint
        // xhr.open('POST', '/CoffeeShop/menu?categoryId=' + encodeURIComponent(selectedCategories), true);
        xhr.open("POST", "/CoffeeShop/menu", true);
        xhr.setRequestHeader("Content-Type", "application/json");
        // Set up the callback to handle the response
        xhr.onreadystatechange = function () {
          if (xhr.readyState === 4 && xhr.status === 200) {
            const productResponse = JSON.parse(xhr.responseText);
            let products = productResponse.products;
            const productList = document.getElementById("product-list");
            productList.innerHTML = "";
            let totalPage = productResponse.totalPage;
            let prePage = productResponse.prePage;

            totalPageElement.innerText = totalPage;
            pageNumber.value = prePage;
            pageNumber.setAttribute("max", totalPage);

            //Show product list
            if (products.length === 0) {
              const announcement = document.createElement("h1");
              announcement.classList.add(
                "col-span-4",
                "text-center",
                "text-3xl",
                "font-bold",
              );
              announcement.innerHTML = "Không có sản phẩm nào!";
              productList.appendChild(announcement);
              pageNum.value = 1;
            } else {
              products.forEach(function (product) {
                const productItem = document.createElement("a");
                let thumbnailUrl = "";
                if (product.thumbnailUrl == null) {
                  thumbnailUrl = "invalid-image.png";
                } else {
                  thumbnailUrl = product.thumbnailUrl;
                }
                productItem.href = "./product-detail?productId=" + product.id;
                productItem.classList.add(
                  "col-span-1",
                  "bg-white",
                  "rounded",
                  "hover:-translate-y-1",
                  "transition",
                  "ease-in-out",
                  "duration-200",
                  "cursor-pointer",
                );
                productItem.innerHTML = `
                        <div id="product-Image">
                            <img class="rounded-t" src="../img/thumbnail/${thumbnailUrl}" alt="">
                        </div>
                        <div class="p-2">
                            <div id="product-Name" class="text-xl">
                                <p class="line-clamp-2">${product.productName}</p>
                            </div>
                            <div id="product-Price" class="text-lg text-coffee-700">
                                <p>${product.price}</p>
                            </div>
                            <div id="product-Description" class="mb-2">
                                <p class="line-clamp-2">${product.description}</p>
                            </div>
                            <div class="flex justify-between text-sm text-slate-400">
                                <p id="product-Sold">Đã bán: <span>${product.totalSold}</span></p>
                                <p id="product-Date">${product.createdAt}</p>
                            </div>
                        </div>`;

                productList.appendChild(productItem);
              });
            }
            //Change number of page
            const pageButtons = document.getElementById("page-button");
            pageButtons.innerHTML = "";
            let start = 2;
            if (prePage > 1) start = prePage;
            for (let i = start - 1; i <= totalPage; i++) {
              let pageButton = document.createElement("div");
              if (i <= start + 1) {
                pageButton.innerHTML = `
                    <label class="h-9 w-9 mx-3 flex items-center justify-center cursor-pointer rounded hover:bg-slate-100 ${i === prePage ? "bg-white" : ""}" for="page-button-${i}">
                        ${i}
                    </label>
                    <input
                        type="radio"
                        id="page-button-${i}"
                        name="page"
                        value="${i}"
                        onchange="pageButtonClick()"
                        ${i === prePage ? "checked" : ""}
                        class="hidden"
                    >
                `;
                pageButtons.appendChild(pageButton);
              } else {
                if (i === start + 2 && totalPage > 5) {
                  let dot = document.createElement("div");
                  dot.classList.add(
                    "h-9",
                    "w-9",
                    "mx-3",
                    "flex",
                    "items-center",
                    "justify-center",
                  );
                  dot.innerHTML = "...";
                  pageButtons.appendChild(dot);
                }
                if (i > totalPage - 2) {
                  pageButton.innerHTML = `
                      <label 
                          class="h-9 w-9 mx-3 flex items-center justify-center cursor-pointer rounded hover:bg-slate-100"
                          for="page-button-${i}">
                          ${i}
                      </label>
                      <input
                          type="radio"
                          id="page-button-${i}"
                          name="page"
                          value="${i}"
                          onchange="pageButtonClick()"
                          class="hidden">
                  `;

                  pageButtons.appendChild(pageButton);
                }
              }
            }
          }
        };

        xhr.send(
          JSON.stringify({
            selectedCategories: selectedCategories,
            orderValue: orderValue,
            pageNum: pageNum,
            searchValue: searchValue,
          }),
        );
      }
    </script>
  </body>
</html>
