<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Product</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
    <link
      th:href="@{'/css/output.css'}"
      href="../static/css/output.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="flex flex-col">
      <!-- NAVBAR -->
      <div class="flex flex-col bg-coffee-200">
        <!-- NAVBAR SCROLL-->
        <div th:insert="common/header-dynamic::header"></div>

        <div class="container mx-auto">
          <div class="mx-auto">
            <!-- NAVBAR STATIC-->
            <div th:insert="common/header-static :: header"></div>
          </div>

          <!--CONTENT-->
          <div id="content" class="mx-[10%] mb-5 text-black">
            <!--PRODUCT-->
            <div
              class="flex items-center justify-center py-10 sm:flex-col md:flex-row"
            >
              <div class="flex flex-col justify-center gap-2 md:w-1/2">
                <img
                  th:src="'/img/thumbnail/' + ${product.thumbnailUrl}"
                  alt="Lac Duong Coffee"
                  class="rounded-md shadow-lg"
                />
                <div class="item-center flex gap-3 overflow-x-scroll">
                  <img class="h-20 w-20 rounded bg-red-800" />
                  <img class="h-20 w-20 rounded bg-red-800" />
                  <img class="h-20 w-20 rounded bg-red-800" />
                  <img class="h-20 w-20 rounded bg-red-800" />
                  <img class="h-20 w-20 rounded bg-red-800" />
                </div>
              </div>

              <div class="p-6 md:w-2/3">
                <input
                  type="hidden"
                  name="productId"
                  th:value="${product.id}"
                />
                <h1
                  class="mb-4 text-3xl font-bold"
                  th:text="${product.productName}"
                ></h1>
                <p class="mb-2 text-gray-500">
                  <del id="origin-price"></del>
                </p>
                <p
                  id="sale-price"
                  class="mb-4 text-2xl font-semibold text-red-500"
                  th:text="${product.price} + ${product.maxPrice == null or product.maxPrice == product.price ? '' : (' - ' + product.maxPrice)} + 'đ'"
                ></p>

                <div
                  id="attributes"
                  th:each="attribute : ${attributes}"
                  class="mb-4 flex items-center gap-4"
                >
                  <label
                    th:for="${attribute.getKey()}"
                    class="block text-lg font-medium text-gray-700"
                    th:text="${attribute.getKey()}"
                    >Khối lượng</label
                  >
                  <select
                    th:id="${attribute.getKey()}"
                    class="mt-1 block w-1/2 rounded-md border-gray-300 px-3 py-2 shadow-sm focus:border-indigo-500 focus:ring-indigo-500"
                  >
                    <option>Chọn một tùy chọn</option>
                    <option
                      th:each="value : ${attribute.getValue()}"
                      th:value="${value}"
                      th:text="${value}"
                    ></option>
                  </select>
                </div>

                <div class="flex items-center gap-4">
                  <label class="block text-lg font-medium text-gray-700"
                    >Số lượng</label
                  >
                  <div class="flex items-center">
                    <div
                      id="downNumber"
                      class="flex h-8 cursor-pointer select-none items-center rounded-l-md border border-gray-300 bg-white px-3 hover:bg-gray-200"
                    >
                      -
                    </div>
                    <input
                      type="number"
                      name="numberOption"
                      value="1"
                      min="1"
                      class="no-spinner h-8 w-9 border-y border-gray-300 text-center text-lg"
                    />
                    <div
                      id="upNumber"
                      class="flex h-8 cursor-pointer select-none items-center rounded-r-md border border-gray-300 bg-white px-3 hover:bg-gray-200"
                    >
                      +
                    </div>
                  </div>
                </div>

                <hr class="my-2 border-black" />
                <button
                  id="addToCartBtn"
                  onclick="addToCart()"
                  class="min-w-1/3 rounded-lg border border-black bg-black px-3 py-3 text-white transition duration-200 ease-in-out hover:border-white hover:bg-white hover:text-black"
                >
                  Thêm vào giỏ hàng
                </button>
                <button
                  class="w-1/3 rounded-lg border border-black px-3 py-3 transition duration-200 ease-in-out hover:border-white hover:bg-white"
                >
                  Mua ngay
                </button>
                <hr class="my-2 border-black" />

                <p class="mt-4 text-sm text-gray-600">
                  Mã: N/A <br />
                  Danh mục: Cà phê, Cà phê đặc sản, Cà phê pha cold brew, Cà phê
                  pha espresso
                </p>
              </div>
            </div>

            <hr class="border-black py-5" />

            <div class="">
              <div
                class="flex justify-center gap-6 text-2xl font-bold uppercase"
              >
                <div>
                  <h1>Mô tả</h1>
                </div>
                <div>
                  <h1>Đánh giá (0)</h1>
                </div>
              </div>
              <!--DESCRIPTION-->
              <div class="my-5 font-medium">
                <div>${product.description}</div>
              </div>

              <!--FEEDBACK-->
              <div class="flex flex-col gap-3">
                <div class="relative flex gap-3">
                  <div class="h-16 w-16 rounded-full bg-red-800">
                    <img src="" />
                  </div>
                  <div>
                    <div>
                      <strong>admin</strong>
                      -
                      <span>16/01/2004</span>
                    </div>
                    <div>comment</div>
                    <div class="mt-5 flex gap-5">
                      <div class="h-48 w-48 bg-red-800"></div>
                      <div class="h-48 w-48 bg-red-800"></div>
                    </div>
                  </div>
                  <div class="absolute right-0 top-0">
                    <div class="flex gap-0">
                      <i class="fa-solid fa-star text-yellow-400"></i>
                      <i class="fa-solid fa-star text-yellow-400"></i>
                      <i class="fa-solid fa-star text-yellow-400"></i>
                      <i class="fa-solid fa-star text-yellow-400"></i>
                      <i class="fa-regular fa-star text-gray-400"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--FOOTER-->
        <div th:insert="common/footer :: footer"></div>
      </div>

      <!--      Change number button-->
      <script>
        let upNumber = document.getElementById("upNumber");
        let downNumber = document.getElementById("downNumber");
        let numberOption = document.querySelector("input[name='numberOption']");
        upNumber.addEventListener("click", function () {
          numberOption.value = parseInt(numberOption.value) + 1;
        });
        downNumber.addEventListener("click", function () {
          if (numberOption.value > 1)
            numberOption.value = parseInt(numberOption.value) - 1;
        });
      </script>

      <script>
        let attributeJson = {};
        let attributeElements = document.querySelectorAll("#attributes");
        let totalAttributes = attributeElements.length;
        attributeElements.forEach((attribute) => {
          let selectAttribute = attribute.querySelector("select");
          selectAttribute.addEventListener("change", function () {
            attributeJson[selectAttribute.id] = selectAttribute.value;
            if (Object.keys(attributeJson).length === totalAttributes) {
              getPrice(function (priceResponse) {
                if (priceResponse.status === 0)
                  document.getElementById("sale-price").innerText =
                    "Sản phẩm không tồn tại!";
                else {
                  let originPrice = priceResponse.originPrice;
                  let salePrice = priceResponse.salePrice;
                  if (originPrice !== 0) {
                    document.getElementById("origin-price").innerText =
                      `${originPrice}đ`;
                  } else {
                    document.getElementById("origin-price").innerText = "";
                  }
                  document.getElementById("sale-price").innerText =
                    `${salePrice}đ`;
                }
              });
            }
          });
        });

        function getPrice(callback) {
          let currentPathname = window.location.pathname;
          const xhr = new XMLHttpRequest();

          xhr.open("POST", currentPathname + "/get-price", true);
          xhr.setRequestHeader("Content-Type", "application/json");
          xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
              const priceResponse = JSON.parse(xhr.responseText);
              callback(priceResponse);
            }
          };
          xhr.send(JSON.stringify(attributeJson));
        }
      </script>

      <!--      add to cart-->
      <script>
        function addToCart() {
          if (!document.getElementById("sale-price").innerText.includes("đ")) {
            alert("Sản phẩm không tồn tại!");
            return;
          }
          let productAttributes = {};
          let numberOption = document.querySelector(
            "input[name='numberOption']",
          ).value;
          let productId = document.querySelector(
            "input[name='productId']",
          ).value;
          attributeElements.forEach((attribute) => {
            let selectAttribute = attribute.querySelector("select");
            productAttributes[selectAttribute.id] = selectAttribute.value;
          });

          fetch("/CoffeeShop/add-to-cart", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              productId: productId,
              attributes: productAttributes,
              quantity: numberOption,
            }),
          });
        }
      </script>
    </div>
  </body>
</html>
